.header {
    background-color: white;
    text-align: center;
    padding: 20px;
  }
  .column {
    float: left;
  }
  
 
  .column.left {
    background-color: gray;
    margin: auto;
    width: 15%;
    height: 800px;
    text-align: center;
  }
  .column.right {
    background-color: gray;
    width: 15%;
    height: 800px;
  }

  
  .column.middle {
    background-color: wheat;
    text-align: center;
    
    width: 70%;
  }
  td.walka {
    padding-left: 50px;
    padding-right: 50px;
  }